<div class="container mat-elevation-z8">
  <!-- 1st Line -->
  <div id="title">
    <h3>Contract Employer PayScale</h3>
  </div>
  <!-- 2nd Line -->
  <div id="ndLine">
    <div class="row" style="display: flex; justify-content: space-around;    ">
      <p class="col">
        <label>Pay Scale Description: </label>
        {{ formDeatils.PayScaleDescription }}
      </p>
      <p class="col"><label>Wage Type: </label>{{ formDeatils.wageType }}</p>
      <p class="col">
        <label>Effective From: </label> {{ formDeatils.effectiveFrom }}
      </p>
    </div>
  </div>

  <!-- 3rd Line -->
  <div id="rdLine">
    <div class="row">
      <h4>Employee</h4>

      <div class="col-6 colborder">
        <div class="col">
          <h4>Earnings</h4>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="col" id="basic"><label>Basic </label></p>
            <p class="col" id="DA"><label>DA </label></p>
            <p class="col" id="HRA"><label>HRA </label></p>
            <p class="col" id="conveyance"><label>Conveyance </label></p>
            <p class="col" id="medicalAllowance">
              <label>Medical Allowance </label>
            </p>
            <p class="col" id="specialAllowance">
              <label> Special Allowance </label>
            </p>
            <p class="col" id="incentiveUnskilled">
              <label>Incentvie Unskilled </label>
            </p>
            <p class="col" id="IncentiveSkilled">
              <label> Incentvie Skilled</label>
            </p>
            <p class="col" id="attendanceAllowance">
              <label>Attendance Incentive </label>
            </p>
            <p class="col" id="totalEarnings">
              <label> NightshiftAllowance</label>
            </p>
            <p class="col" id="totalEarnings">
              <label>Total Earning </label>
            </p>
          </div>
          <div class="col-6">
            <p class="col" for="basic">: {{ formDeatils.basic }}</p>
            <p class="col" for="DA">: {{ formDeatils.DA }}</p>
            <p class="col" for="HRA">: {{ formDeatils.HRA }}</p>
            <p class="col" for="conveyance">: {{ formDeatils.conveyance }}</p>
            <p class="col" for="medicalAllowance">
              : {{ formDeatils.medicalAllowance }}
            </p>
            <p class="col" for="specialAllowance">
              : {{ formDeatils.specialAllowance }}
            </p>
            <p class="col" for="incentiveUnskilled">
              : {{ formDeatils.incentiveUnskilled }}
            </p>
            <p class="col" for="IncentiveSkilled">
              : {{ formDeatils.incentiveSkilled }}
            </p>
            <p class="col" for="attendanceAllowance">
              : {{ formDeatils.attendanceAllowance }}
            </p>
            <p class="col" for="nightshiftAllowance">
              : {{ formDeatils.nightShiftAllowance }}
            </p>
            <p class="col" for="totalEarnings">
              : {{ formDeatils.totalEarnings }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="col">
          <h4>Deductions</h4>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="col" id="DPF"><label>PF</label></p>
            <p class="col" id="DESI"><label>ESI</label></p>
            <p class="col" id="professionalTax">
              <label>Professional Tax</label>
            </p>
            <p class="col" id="canteenDeduction">
              <label>Canteen Deduction</label>
            </p>
            <p class="col" id="labourWelfareFund">
              <label>Labour Welfare Fund</label>
            </p>
            <p class="col" id="totalDeduction">
              <label>Total Deduction</label>
            </p>
          </div>

          <div class="col-6">
            <p class="col" for="DPF ">: {{ PFEmployee }}</p>
            <p class="col" for="DESI ">: {{ employeeESI }}</p>
            <p class="col" for="professionalTax" *ngIf="formDeatils.professionalTax === 'Yes'"> : {{ formDeatils.professionalTaxAmount }}</p>
            <p class="col" for="professionalTax" *ngIf="formDeatils.professionalTax !== 'Yes'"> : {{ formDeatils.professionalTax }}</p>
            <p class="col" for="canteenDeduction">
              : {{ formDeatils.canteenDeduction }}
            </p>
            <p class="col" for="labourWelfareFund">
              : {{ formDeatils.labourWelfareFund }}
            </p>
            <p class="col" for="totalDeduction">
              : {{ formDeatils.totalDeduction }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /////// -->

  <div id="ndLine">
    <div class="col">
      <h4>Employer</h4>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="col" id="EPF"><label>PF</label></p>
        <p class="col" id="EESI"><label>ESI</label></p>
        <p class="col" id="serviceCharge">
          <label>Service Charge </label>
        </p>
        <p class="col" id="ServiceTax">
          <label>Service Tax</label>
        </p>
      </div>

      <div class="col-3">
        <p class="col" for="EPF ">: {{ PFEmployer }}</p>
        <!-- <p class="col" for="EPF ">: 1238468</p> -->
        <p class="col" for="EESI ">: {{ employerESI }}</p>
        <p class="col" for="serviceCharge">: {{ formDeatils.serviceCharge }}</p>
        <p class="col" for="ServiceTax">: {{ formDeatils.ServiceTax }}</p>
      </div>
    </div>
  </div>

  <div
    id="ndLine"
    style="display: flex; justify-content: space-around;padding-top:0.5em"
  >
    <p><label>CTC </label> :{{ formDeatils.CTC }}</p>

    <p>
      <label>Net Take Home Paid to CL </label> :{{ formDeatils.netTakeHome }}
    </p>
  </div>

  <div style="display: flex; justify-content: space-around;padding:1.5em">
    <button mat-raised-button color="primary" (click)="back()">Back</button>
    <button mat-raised-button color="primary" (click)="saveData()">Save</button>
  </div>
</div>

<!--  -->
