.container {
  width: 100%;
}

.item-1 {
  padding-bottom: 1.89rem;
}
.columns {
  width: 100%;
}
.column {
  width: 100%;
}
@media (min-width: 48em) {
  .column {
    width: 50%;
    float: left;
    flex-direction: column;
  }
  .columns {
    content: '';
    display: table;
    clear: both;
  }
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 3.9em;
  flex-wrap: wrap;
}
#others {
  display: inline-block;
  flex-direction: column;
  margin-bottom: 4.8em;
}

.example-full-width {
  width: 85%;
  padding: 0 1.25em 0 0;
  margin-right: 10px;
}
mat-lable {
  font-weight: 600;
}
mat-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

td {
  padding: 0 0 0 3.125em;
  margin: 0 4.375em 0 3.125em;
}
// tr {
//   padding: 30px 0x 0 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin: 2.25em 0.625em 0.625em 0;
  // padding-bottom: 40px;
  width: 15.25em;
  height: 0.1em;
}
:host ::ng-deep #earnings mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16.25rem;
  height: 0.1rem;
  // margin: 1.25em 0.625em 0.313em 0;
  font-size: 14px;
  padding: 0 0 2.7em 3.2em;
}

:host ::ng-deep #others mat-form-field,
p {
  width: 16.25rem;
}
:host ::ng-deep #deductions mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16.25rem;
  height: 0.1rem;

  font-size: 14px;
  padding: 0 0 2.7em 3.2em;

  // margin:  0.625em 0.313em 0;
}
:host ::ng-deep #deductions mat-radio-group {
  padding-top: 1.625em;
  width: 21.25rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep #de mat-form-field {
  width: 25.625em;

  // margin:  0.625em 0.313em 0;
}
#others {
  margin-top: 10px;
}
#deduction {
  margin: 2.625em 0 0 0;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
:host ::ng-deep #total mat-form-field {
  width: 31.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep #ebutton button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
div button {
  padding: 0 10px 0 10px;
}
// div ~ button {
//   margin: 10px 500px 10px 50px;
//   padding: 0 50px 0 50px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }


// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(101, 168, 95)!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(39, 88, 224)!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(39, 88, 224)!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: red!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: rgba(0,0,0,.6)!important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(68, 21, 21)!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}