.container {
  width: 100%;
}

.item {
  margin: 0 30px 0 0;
}

.example-full-width {
  width: 85%;
  padding: 0 20px 0 0;
}
mat-lable {
  font-weight: 600;
}
mat-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

td {
  padding: 0 0 0 50px;
  margin: 0 70px 0 50px;
}
// tr {
//   padding: 30px 0x 0 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin: 20px 10px 10px 0;
  width: 500px;
}
:host ::ng-deep #earnings mat-form-field {
  width: 500px;
  margin: 20px 10px 5px 0;
}
// .mat-vertical-stepper .mat-step-label-active {
//   color: red;
// }
:host ::ng-deep #others mat-form-field {
  width: 390px;
  margin: 20px 10px 5px 0;
}
:host ::ng-deep #deductions mat-form-field {
  width: 250px;
  // margin: 20px 10px 5px 0;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
:host ::ng-deep #total mat-form-field {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep #ebutton button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
div button {
  padding: 0 10px 0 10px;
}
// div ~ button {
//   margin: 10px 500px 10px 50px;
//   padding: 0 50px 0 50px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
