.container {
  width: 97%;
}

.item {
  margin: 0 30px 0 0;
}

.example-full-width {
  width: 85%;
  padding: 0 20px 0 0;
}

td {
  // padding: 0 40px 0 0;
  margin: 0 70px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// tr {
//   padding: 30px 0x 0 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
button {
  margin: 10px 10px 10px 10px;
}
