<div class="container mat-elevation-z8">
  <div>
    <h3>Contract Employer Payscale Form</h3>
  </div>
  <div>
    <form [formGroup]="payrollFormGroup" (ngSubmit)="onSubmit()">
      <mat-vertical-stepper #stepper>
        <mat-step required label="PayScale Details" active>
          <div class="columns" style="padding-bottom:10px;">
            <div class="column">
              <div class="item-1">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>PayScaleCode</mat-label>
                  <input
                    matInput
                    value="{{ payrollFormGroup.get('PayScaleCode') }}"
                    formControlName="PayScaleCode"
                  />
                </mat-form-field>
              </div>
              <div class="item-1">
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="wageType"
                  (change)="viewWageType()"
                >
                  <mat-label>Wage Type:</mat-label>
                  <mat-radio-button value="Daily">Daily </mat-radio-button>
                  <mat-radio-button value="Monthly">Monthly </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="column">
              <div class="item">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Pay Scale Description</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="PayScaleDescription"
                  />
                </mat-form-field>
              </div>
              <div class="item">
                <mat-form-field
                  appearance="outline"
                  color="primary"
                  class="example-full-width"
                  (click)="picker.open()"
                >
                  <mat-label>Effective From</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    (dateChange)="setEffectiveFromDate($event.value)"
                    formcontrolName="effectiveFrom"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker> </mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div
            style="display: flex; justify-content: flex-start;padding-top:2.5em"
          >
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <!-- Earnings -->
        <mat-step label="Earnings ">
          <div id="earnings">
            <div class="columns">
              <div class="column">
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Basic</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="basic"
                    (change)="onFormChange()"
                  />
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>DA</mat-label>
                  <input type="number" matInput formControlName="DA" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>HRA</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="HRA"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Conveyance</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="conveyance"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Special Allowance</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="specialAllowance"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
              </div>
              <div class="column">
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Medical Allowance</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="medicalAllowance"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Attendance Allowance</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="attendanceAllowance"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Night shift Allowance (C)</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="nightShiftAllowance"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Incentvie-Skilled/Semi-skilled</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="incentiveSkilled"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Incentvie-Unskilled</mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="incentiveUnskilled"
                    (change)="onFormChange()"
                  />
                </mat-form-field>
              </div>
            </div>
            <!-- others earnings -->
            <div id="others" formArrayName="others">
              <p>Other Earnings</p>
              <div
                *ngFor="let otherEarning of others().controls; let i = index"
              >
                <!-- <ng-contianer *ngIf="i <= 4"> -->
                  <div class="row1" [formGroupName]="i">
                    <div class="col">
                      <div class=" t">
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input
                            type="text"
                            matInput
                            formControlName="name"
                            (change)="onFormChange()"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col">
                      <div class=" t">
                        <mat-form-field appearance="outline">
                          <mat-label>Amount</mat-label>
                          <input
                            type="number"
                            matInput
                            formControlName="amount"
                            (change)="onFormChange()"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="deleteEarnings(i)"
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                  </div>
              
              </div>

             
            <div class="p-5" *ngIf="others().length < 4">
                <button type="button" (click)="addnewItem('earning')" class="btn btn-primary">Add</button>
              </div>
            
             
            </div>
          <div>
            <table>
              <tr>
                <td>
                  <mat-form-field id="total" appearance="outline">
                    <mat-label>Total Earning (Gross)</mat-label>
                    <input matInput formControlName="totalEarnings" />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
          </div>


          <div
            style="display: flex; justify-content: space-around;padding-top:2.5em"
          >
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <!-- Deductions -->

        <mat-step label="Deductions" id="deductions" appearance="fill">
          <div id="deductions">
            <div class="columns">
              <div class="column">
                <div
                  style="display: flex;  flex-direction:row;align-items:baseline;justify-content:flex-start"
                >
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                    >
                      <mat-label>PF(%on Basic+DA)(%)</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="DPF"
                        (change)="onFormChange()"
                        (input)="employeePFCalc()"
                      />
                    </mat-form-field>
                  </div>
                  <div>
                    <p>{{ PFEmployee }}</p>
                  </div>
                </div>
                <div
                  style="display: flex;  flex-direction:row;align-items:baseline;justify-content:flex-start"
                >
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width item"
                    >
                      <mat-label>ESI(% on Gross)(%)</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="DESI"
                        (change)="onFormChange()"
                        (input)="employeeESICalc()"
                      />
                    </mat-form-field>
                  </div>
                  <p>{{ employeeESI }}</p>
                </div>

                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Labour Welfare fund</mat-label>
                  <input
                    matInput
                    type="number"
                    (change)="onFormChange()"
                    formControlName="labourWelfareFund"
                  />
                </mat-form-field>
              </div>
              <div
                class="column"
                style="display: flex;  flex-direction:column;align-items:flex-start;margin:25px 0 45px 0; padding:20px 0 10px 0"
              >
                <div>
                  <mat-radio-group
                    aria-label="Select an option"
                    formControlName="canteenDeduction"
                    (change)="onFormChange()"
                  >
                    <mat-label>Canteen Deduction:</mat-label>
                    <mat-radio-button value="Yes">Yes </mat-radio-button>
                    <mat-radio-button value="No">No </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div style="display: flex;  flex-direction:column;margin:0 ">
                  <mat-radio-group formControlName="professionalTax">
                    <mat-label>Professional Tax:</mat-label>
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                  <div
                    style="display: flex;  flex-direction:row;justify-content:center;align-items:baseline;"
                    *ngIf="
                      payrollFormGroup.controls.professionalTax.value === 'Yes'
                    "
                  >
                    <h6>Professional Tax is Half year Based</h6>
                    <mat-form-field appearance="outline">
                      <mat-label>Amount</mat-label>
                      <input
                        matInput
                        placeholder="Enter amount"
                        (change)="onFormChange()"
                        formControlName="professionalTaxAmount"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div id="others" formArrayName="deductions">
              <p>Other Deductions</p>
              <div
                *ngFor="let otherDeduction of deductions().controls; let i = index"
              >
                  <div class="row1" [formGroupName]="i">
                    <div class="col">
                      <div class=" t">
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input
                            type="text"
                            matInput
                            formControlName="name"
                            (change)="onFormChange()"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col">
                      <div class=" t">
                        <mat-form-field appearance="outline">
                          <mat-label>Amount</mat-label>
                          <input
                            type="number"
                            matInput
                            formControlName="amount"
                            (change)="onFormChange()"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="deleteDeductions(i)"
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                  </div>
              
              </div>

             
            <div class="p-5" *ngIf="deductions().length < 4">
                <button type="button" (click)="addnewItem('deduction')" class="btn btn-primary">Add</button>
              </div>
            
             
            </div>
            <div
              style="display: flex;  flex-direction:row;align-items:baseline;justify-content:flex-start"
            >
              <mat-form-field
                appearance="outline"
                class="example-full-width item"
              >
                <mat-label>Total Deduction</mat-label>
                <input matInput formControlName="totalDeduction" />
              </mat-form-field>
              <h6>{{ wagetype }}</h6>
            </div>
          </div>

          <div
            style="display: flex; justify-content: space-around;padding-top:2.5em"
          >
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>
        <!-- Employers -->
        <mat-step label="Employers">
          <div id="deductions">
            <div class="columns">
              <div
                class="column"
                style="display: flex;  flex-direction:column;align-items:flex-start;"
              >
                <div
                  style="display: flex;  flex-direction:row;align-items:baseline;justify-content:center"
                >
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width item"
                    >
                      <mat-label>PF(%on Basic+DA)(%)</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="EPF"
                        (input)="employerPFCalc()"
                      />
                    </mat-form-field>
                  </div>
                  <p>{{ PFEmployer }}</p>
                </div>
                <div
                  style="display: flex;  flex-direction:row;align-items:baseline;justify-content:center"
                >
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width item"
                    >
                      <mat-label>ESI(% on Gross)(%)</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="EESI"
                        (input)="employerESICalc()"
                      />
                    </mat-form-field>
                  </div>
                  <p>{{ employerESI }}</p>
                </div>
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  formControlName="serviceCharge"
                >
                  <label id="example-radio-group-label"
                    >Service charge Type:
                  </label>
                  <mat-radio-button value="%">Percentage </mat-radio-button>
                  <mat-radio-button value="val">Value</mat-radio-button>
                </mat-radio-group>

                <div
                  style="display: flex;  flex-direction:row;align-items:baseline;justify-content:center"
                >
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width item"
                    >
                      <mat-label>Service Charge</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="serviceCharge"
                      />
                    </mat-form-field>
                  </div>
                  <p>ESI-textt</p>
                </div>
              </div>
              <div
                class="column"
                style="display: flex;  flex-direction:column;align-items:flex-start;"
              >
                <div
                  style="display: flex;  flex-direction:row;align-items:baseline;justify-content:center"
                >
                  <div>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width item"
                    >
                      <mat-label>Service Tax</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="ServiceTax"
                      />
                    </mat-form-field>
                  </div>
                  <p>ESI-textt</p>
                </div>
                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>CTC</mat-label>
                  <input matInput formControlName="CTC" />
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="example-full-width item"
                >
                  <mat-label>Net Take Home Paid to CL</mat-label>
                  <input matInput formControlName="netTakeHome" />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div
            style="display: flex; justify-content: space-around;padding-top:2.5em"
          >
            <button
              mat-raised-button
              color="warn"
              type="reset"
              (click)="resetForm()"
              (click)="stepper.reset()"
            >
              Reset
            </button>
            <button mat-raised-button color="primary" matStepperPrevious>
              Back
            </button>
            <button
              id="green"
              mat-raised-button
              color="primary"
              (click)="onPreview()"
            >
              Preview
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
