<div class="container mat-elevation-z8">
  <div>
    <h3>Contract Employer Payscale Form</h3>
  </div>
  <div>
    <form [formGroup]="payrollFormGroup">
      <mat-vertical-stepper #stepper>
        <mat-step label="PayScale Details" active>
          <table class="example-full-width item" cellspacing="0">
            <tr>
              <td>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>PayScaleCode</mat-label>
                  <input
                    matInput
                    placeholder="Placeholder"
                    value="P4/0001"
                    disabled
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Pay Scale Description</mat-label>
                  <textarea
                    matInput
                    formControlName="PayScaleDescription"
                    required
                  ></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-radio-group aria-label="Select an option">
                  <mat-label>Wage Type:</mat-label>
                  <mat-radio-button value="1">Daily </mat-radio-button>
                  <mat-radio-button value="2">Monthly </mat-radio-button>
                </mat-radio-group>
                <!-- <mat-radio-group [formControl]="wageType">
                    <mat-radio-button value="option1">Option 1</mat-radio-button>
                    <mat-radio-button value="option2">Option 2</mat-radio-button>
                  </mat-radio-group> -->
              </td>
              <td>
                <mat-form-field
                  appearance="outline"
                  color="primary"
                  class="example-full-width"
                >
                  <mat-label>Effective From</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formcontrol="effectiveFrom"
                    required
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            <div>
              <button mat-raised-button color="primary" matStepperNext>
                Next
              </button>
            </div>
          </table>
        </mat-step>

        <!-- Earnings -->
        <mat-step label="Earnings ">
          <div id="earnings">
            <table class="example-full-width item" cellspacing="0">
              <!-- 1st ROW -->
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Basic</mat-label>
                    <input matInput formControlName="basic" required />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Medical Allowance</mat-label>
                    <input
                      matInput
                      formControlName="medicalAllowance"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <!-- 2nd ROW -->

              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>DA</mat-label>
                    <input matInput formControlName="DA" required />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Attendance Allowance</mat-label>
                    <input
                      matInput
                      formControlName="attendanceAllowance"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <!-- 3rd ROW -->
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>HRA</mat-label>
                    <input matInput formControlName="HRA" required />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Night shift Allowance (C)</mat-label>
                    <input
                      matInput
                      formControlName="nightShiftAllowance"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <!-- 4th ROW -->
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Conveyance</mat-label>
                    <input matInput formControlName="conveyance" required />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Incentvie-Skilled/Semi-skilled</mat-label>
                    <input
                      matInput
                      formControlName="incentiveSkilled"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
              <!-- 5th ROW -->
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Special Allowance</mat-label>
                    <input
                      matInput
                      formControlName="specialAllowance"
                      required
                    />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Incentvie-Unskilled</mat-label>
                    <input
                      matInput
                      formControlName="incentiveUnskilled"
                      required
                    />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <!-- Others -->
          <!-- 6th ROW -->
          <div id="others">
            <table>
              <tr>
                <td>
                  <label>Others-1</label>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Name</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Amount</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Others-2</label>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Name</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Amount</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Others-3</label>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Name</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Amount</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Others-4</label>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Name</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Amount</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Others-5</label>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Name</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Amount</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Others-6</label>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Name</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>Amount</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <div>
            <table>
              <tr>
                <td>
                  <mat-form-field
                    id="total"
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Total Earning (Gross)</mat-label>
                    <input matInput formControlName="totalEarnings" required />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <div style="display: flex; justify-content: space-around;">
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <mat-step label="Deductions" id="deductions">
          <div id="deductions">
            <table class="example-full-width item" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>PF(%on Basic+DA)(%)</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td><p>PF-textt</p></td>

                <td>
                  <mat-radio-group aria-label="Select an option">
                    <mat-label>Canteen Deduction:</mat-label>
                    <mat-radio-button value="Yes">Yes </mat-radio-button>
                    <mat-radio-button value="No">No </mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>ESI(% on Gross)(%)</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td><p>ESI-textt</p></td>

                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Professional Tax</mat-label>
                    <mat-select>
                      <mat-option value="monthly">Monthly</mat-option>
                      <mat-option value="halfYear">Half-Yearly</mat-option>
                      <mat-option value="year">Yearly</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Labour Welfare fund</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>
              <!-- <div id="de">
                <table>
                  <tr>
                    <td>
                      <label>Deduction-1</label>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Name</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Amount</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <label>Deduction-2</label>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Name</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Amount</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <label>Deduction-3</label>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Name</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Amount</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <label>Deduction-4</label>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Name</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Amount</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <label>Deduction-5</label>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Name</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field
                        appearance="outline"
                        class="example-full-width"
                      >
                        <mat-label>Amount</mat-label>
                        <input matInput />
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div> -->
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Total Deduction</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <div style="display: flex; justify-content: space-around;">
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <mat-step label="Employers">
          <div id="deductions">
            <table>
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Net Take Home Paid to CL</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                  >
                    <label id="example-radio-group-label"
                      >Service charge Type:
                    </label>
                    <mat-radio-button value="Percent"
                      >Percentage
                    </mat-radio-button>
                    <mat-radio-button value="val">Value</mat-radio-button>
                  </mat-radio-group>
                  <!-- <mat-label>Service Charge</mat-label>
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="Percent"
                      >Percentage
                    </mat-radio-button>
                    <mat-radio-button value="val">Value</mat-radio-button>
                  </mat-radio-group> -->
                </td>
              </tr>

              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>PF(%on Basic+DA)(%)</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td><p>PF-textt</p></td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Service Charge</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td><p>ESI-textt</p></td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>ESI(% on Gross)(%)</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td><p>ESI-textt</p></td>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>Service Tax</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
                <td><p>ESI-textt</p></td>
              </tr>
              <tr>
                <td>
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width item"
                  >
                    <mat-label>CTC</mat-label>
                    <input matInput />
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>

          <!-- </table> -->
          <div style="display: flex; justify-content: space-around;">
            <button mat-raised-button color="warn" (click)="stepper.reset()">
              Reset
            </button>
            <button mat-raised-button color="primary" matStepperPrevious>
              Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Save
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
