<div class="container mat-elevation-z8">
  <div>
    <h3>Contract Employer Payscale Form</h3>
  </div>
  <div>
    <form [formGroup]="firstFormGroup">
      <mat-vertical-stepper #stepper>
        <mat-step label="PayScale Details">
          <table class="example-full-width item" cellspacing="0">
            <tr>
              <td>
                <mat-form-field   appearance="outline" class="example-full-width" >
                  <mat-label>PayScaleCode</mat-label>
                  <input
                    matInput
                    placeholder="Placeholder"
                    value="P4/0001"
                    disabled
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Pay Scale Description</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Wage Type</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Effective From</mat-label>
                  <input matInput [matDatepicker]="picker" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
            <div>
              <button mat-raised-button color="primary" matStepperNext>
                Next
              </button>
            </div>
          </table>
        </mat-step>

        <mat-step label="Earnings ">
          <table class="example-full-width item" cellspacing="0">
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Basic</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>DA</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>HRA</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Conveyance</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Medical Allowance</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Special Allowance</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Incentvie-Skilled/Semi-skilled</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Incentvie-Un skilled</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Attendance Incentive</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Night shift Allowance (C)</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Other-1</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Other-1</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Other-2</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Other-3</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Other-4</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Other-5</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Total Earning (Gross)</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>
        <mat-step label="Deductions">
          <table class="example-full-width item" cellspacing="0">
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>PF(%on Basic+DA)(%)</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>ESI(% on Gross)(%)</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Canteen deduction</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Professional Tax</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Labour Welfare fund</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Deduction-1</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Deduction-1</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Deduction-2</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Deduction-3</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Deduction-4</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width">
                  <mat-label>Deduction-5</mat-label>
                  <textarea matInput placeholder="remarks"></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field appearance="outline"   class="example-full-width item">
                  <mat-label>Total Deduction</mat-label>
                  <input matInput />
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>
              Previous
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>
        <mat-step label="Employers">
          <tr>
            <td>
              <mat-form-field appearance="outline"   class="example-full-width item">
                <mat-label>Net Take Home Paid to CL</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field appearance="outline"   class="example-full-width item">
                <mat-label>PF(%on Basic+DA)(%)</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline"   class="example-full-width item">
                <mat-label>ESI(% on Gross)(%)</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline"   class="example-full-width item">
                <mat-label>CTC</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
          </tr>

          <div>
            <button mat-raised-button color="warn" (click)="stepper.reset()">
              Reset
            </button>
            <button mat-raised-button color="primary" matStepperPrevious>
              Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Save
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
