<div class="container mat-elevation-z8">
  <div>
    <h3>Contract Employee Onboard Form</h3>
  </div>
  <form>
    <mat-vertical-stepper #stepper>
      <mat-step required label="Basic Details" active>
        <div id="firstBox">
          <div class="columns" style="padding-bottom:10px;">
            <div class="column">
              <mat-form-field appearance="outline">
                <mat-label>Contractor Name</mat-label>
                <mat-select>
                  <mat-option> </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="basicForm.get('contractor')?.hasError('required')">Gender Is Mandatory</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Contractor Name</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Father / Husband / Spouce Name</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Marital Status</mat-label>
                <mat-select>
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Married">Married </mat-option>
                  <mat-option value="Widow">Widow</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="basicForm.get('maritalstatus')?.hasError('required')">Marital Status Is Mandatory</mat-error> -->
              </mat-form-field>
            </div>
            <div class="column">
              <mat-form-field
                appearance="outline"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker1" />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1> </mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Transgender">Transgender</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="basicForm.get('gender')?.hasError('required')">Gender Is Mandatory</mat-error> -->
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Adhaar Number</mat-label>
                <input matInput />
              </mat-form-field>
            </div>
          </div>
          <div style="display: flex; justify-content:center;padding-top:2.5em">
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step required label="Other Details" active>
        <div id="secondBox">
          <div class="columns" style="padding-bottom:10px;">
            <div class="column">
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
              <div class="item" id="item">
                <mat-form-field appearance="outline">
                  <mat-label>Pincode</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Emergency Contact No.</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Emergency Contact Person</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Energency Contact Relation</mat-label>
                <mat-select>
                  <mat-option value="Father">Father</mat-option>
                  <mat-option value="Mother">Mother</mat-option>
                  <mat-option value="Brother">Brother</mat-option>
                  <mat-option value="Sister">Sister</mat-option>
                  <mat-option value="Friend">Friend</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="column" >
              <mat-form-field appearance="outline">
                <mat-label>Blood Group</mat-label>
                <mat-select >
                  <mat-option value="A+">A+</mat-option>
                  <mat-option value="A-">A-</mat-option>
                  <mat-option value="B+">B+</mat-option>
                  <mat-option value="O+">O+</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>PF/UAN No.</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>ESI No.</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Transporter</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Village</mat-label>
                <input matInput />
              </mat-form-field>
            </div>
          </div>
          <div
            style="display: flex; justify-content: space-around;padding-top:2.5em"
          >
            <button
              mat-raised-button
              color="warn"
              type="reset"
              (click)="stepper.reset()"
            >
              Reset
            </button>
            <button mat-raised-button color="primary" matStepperPrevious>
              Back
            </button>
            <button id="green" mat-raised-button color="primary">Save</button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
