<div class="container mat-elevation-z8">
  <div>
    <h3>Contract Onboard Form</h3>
  </div>
  <div>
    <form [formGroup]="contractorForm" (ngSubmit)="onSubmit()">
      <mat-vertical-stepper #stepper>
        <mat-step required label="Contractor Basic Details" active>
          <div id="firstBox">
            <div class="columns" style="padding-bottom:10px;">
              <div class="column">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Contractor Name</mat-label>
                  <input matInput formControlName="ContractorName" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Contractor Owner Name</mat-label>
                  <input matInput formControlName="ContrOwnerName" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Contractor Owner Number</mat-label>
                  <input matInput formControlName="ContraOwnerNumber" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Contractor Owner Email</mat-label>
                  <input matInput formControlName="ContraOwnerEmail" />
                </mat-form-field>
            
              </div>

              <div class="column">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Primary Contact Person</mat-label>
                  <input type="text" matInput formControlName="PocPerson" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Number </mat-label>
                  <input type="text" matInput formControlName="Number" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Email </mat-label>
                  <input type="text" matInput formControlName="Email" />
                </mat-form-field>
                <div class="item-1">
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width" >
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="Address"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div
            style="display: flex; justify-content:center;padding-top:2.5em"
          >
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </mat-step>

        <mat-step required label="Contractor License Details" active>
<div id="secondBox">
  <div class="columns" style="padding-bottom:10px;">
    <div class="column">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>License Number </mat-label>
        <input type="text" matInput formControlName="L_Number" />
      </mat-form-field>

      <div class="item-2">
        <mat-form-field
          appearance="outline"
          color="primary"
          class="example-full-width"
        >
          <mat-label>License Valid From</mat-label>
          <input matInput formControlName="L_Valid_From" [matDatepicker]="picker1" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1> </mat-datepicker>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          color="primary"
          class="example-full-width"
        >
          <mat-label>License Valid TO</mat-label>
          <input matInput formControlName="L_Valid_To" [matDatepicker]="picker2" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2> </mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>License Attachment    <mat-icon>attach_file</mat-icon> </mat-label>
     
        <input type="text" matInput  />
      </mat-form-field>
    </div>

    <div class="column">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Maximum Head Count</mat-label>
        <input type="text" matInput formControlName="MaxHeadLimit" />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        color="primary"
        class="example-full-width"
      >
        <mat-label>Effective Date</mat-label>
        <input matInput formControlName="EffectIveDate" [matDatepicker]="picker3" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3> </mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
<div
style="display: flex; justify-content: space-around;padding-top:2.5em"
>
<button
  mat-raised-button
  color="warn"
  type="reset"

  (click)="stepper.reset()"
>
  Reset
</button>
<button mat-raised-button color="primary" matStepperPrevious>
  Back
</button>
<button
  id="green"
  mat-raised-button
  color="primary"
 
>
Save
</button>
</div>
        
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
